<main>
  <section class="no-padding-top bg-alt">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <br>
          <h5>Kết quả tìm kiếm</h5>
        </div>
        <div class= "text-center">
          <%= paginate @resumes %>
        </div>
        <% @resumes.each do |resume| %>
          <%= render "components/resumes/resume_item_type1", resume: resume %>
        <% end %>
      </div>
      <div class = "text-center">
        <%= paginate @resumes %>
      </div>
    </div>
  </section>
</main>
