<section class="bg-alt">
        <div class="container">
          <header class="section-header">
            <h2>Phổ biến</h2>
            <p>Những công việc phổ biến nhất</p>
          </header>

          <div class="category-grid">
            <a href="<%= jobs_path %>">
              <i class="fa fa-laptop"></i>
              <h6>Công nghệ thông tin</h6>
              <p>Designer, Developer, IT Service, Front-end developer, Project management</p>
            </a>

            <a href="<%= jobs_path %>">
              <i class="fa fa-line-chart"></i>
              <h6>Kế toán</h6>
              <p>Finance, Tax service, Payroll manager, Book keeper, Human resource</p>
            </a>

            <a href="<%= jobs_path %>">
              <i class="fa fa-cutlery"></i>
              <h6>Nhà hàng</h6>
              <p>Restaurant, Food service, Coffe shop, Cashier, Waitress</p>
            </a>
          </div>

        </div>
      </section>
