<section class="bg-img text-center" style="background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-recruitment-background-banner-image_159061.jpg)">
  <div class="container">
    <h2><strong>Đăng ký</strong></h2>
    <h6 class="font-alt">Nhận công việc mới, phù hợp mỗi ngày</h6>
    <br><br>
    <form class="form-subscribe" action="#">
      <div class="input-group">
        <input type="text" class="form-control input-lg" placeholder="Nhập Email của bạn">
        <span class="input-group-btn">
          <button class="btn btn-success btn-lg" type="submit">Đăng Ký</button>
        </span>
      </div>
    </form>
  </div>
</section>
