 <section>
  <div class="container">
    <header class="section-header">
      <h2>Việc làm mới</h2>
    </header>
    <div class="row item-blocks-connected">
      <% @jobs.limit(5).each do |job| %>
        <%= render "components/job/job_item", job: job %>
      <% end %>
    </div>
    <br><br>
    <p class="text-center"><a class="btn btn-info" href="<%= jobs_path %>">Tất cả việc</a></p>
  </div>
</section>
