<!-- Site header -->
<header class="site-header size-lg text-center" style="background-image: url(assets/img/bg-banner1.jpg)">
<div class="container">
  <div class="col-xs-12">
    <h1>Frequently asked questions</h1>
    <h5 class="font-alt">Probably you'll find your answer here. Contact us if you don't find what you're looking for.</h5>
    <br>
    <div id="faq-search" class="form-group">
      <i class="ti-search fa-flip-horizontal1"></i>
      <input type="text" class="form-control" name="search" placeholder="Type to search...">
    </div>
  </div>

</div>
</header>
<!-- END Site header -->



<!-- Main container -->
<main id="faq-result">
<section>
  <div class="container">
    <header class="section-header text-left">
      <span>Common questions</span>
      <h2>General</h2>
    </header>

    <ul class="faq-items">
      <li>
        <h5>What is TheJobs?</h5>
        <p>Quisque eget laoreet odio. Integer rutrum leo in aliquam iaculis. Integer vestibulum efficitur magna, sed molestie lectus. Aliquam volutpat ut mauris vitae rutrum. Ut vitae nulla in metus varius faucibus. Suspendisse consectetur, leo in porttitor euismod, enim risus vestibulum nulla, sit amet iaculis nulla orci at dolor. Vivamus dictum erat nisi, id hendrerit dui fringilla elementum. Ut pretium nisi metus, vitae euismod quam tincidunt ut. Maecenas non sem justo. Mauris mollis faucibus elementum. Duis lacinia orci vitae vestibulum consectetur.</p>
      </li>

      <li>
        <h5>Why Choose TheJobs?</h5>
        <p>Sed sed pulvinar nisl. Etiam a nulla purus. Curabitur maximus mauris eu ante aliquet pellentesque. Vivamus commodo pulvinar dictum. Vivamus vulputate lacus et eleifend rutrum. Fusce fringilla molestie maximus. Cras vel lacus quis velit laoreet mattis vel eu libero. Maecenas consectetur dictum justo, in scelerisque libero lacinia at. Donec a facilisis sem, a viverra dui. Morbi vestibulum viverra diam, at rutrum nulla porttitor eu.</p>
      </li>

      <li>
        <h5>What are TheJobs features?</h5>
        <p>Pellentesque magna justo, ullamcorper eu efficitur sit amet, porttitor ut velit. Cras sit amet lorem sit amet purus vestibulum feugiat vitae sed tellus. In hac habitasse platea dictumst. Aliquam pretium, sem non maximus maximus, diam augue commodo augue, at pharetra dui ligula sed nisl. Morbi vitae ullamcorper purus. Integer nec arcu in diam suscipit dapibus. Donec vulputate tellus vitae accumsan hendrerit.</p>
      </li>

      <li>
        <h5>When was TheJobs first released?</h5>
        <p>Donec posuere risus ipsum, quis ullamcorper magna pretium eget. Sed viverra orci lacinia, cursus massa et, pellentesque ipsum. Nulla facilisi. Sed bibendum libero in ante laoreet, et venenatis neque scelerisque.</p>
      </li>

      <li>
        <h5>Do I need to know PHP to use TheJobs?</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra lacus nec lorem blandit, nec cursus orci tempor. Nunc consectetur quis nunc in pharetra. Quisque lobortis nisi vel odio ultricies fringilla. Sed egestas a justo ut lobortis. In in arcu tellus. Nam non ipsum magna. Duis at ante elit. Nullam sollicitudin porttitor neque. Integer bibendum, lorem sed porttitor efficitur, mi enim volutpat leo, non sodales sem ligula non sem. Cras ut rutrum nibh.</p>
      </li>
    </ul>
  </div>
</section>
