<!-- Site header -->
<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
  <div class="container no-shadow">
    <h1 class="text-center">Pricing tables</h1>
    <p class="lead text-center">We've got an awesome pricing table and package selection. You can have three or four package type.</p>
  </div>
</header>
<!-- END Site header -->


<!-- Main container -->
<main>

  <!-- Three types -->
  <section>
    <div class="container">
      <header class="section-header">
        <span>Plans</span>
        <h2>Three types</h2>
      </header>


      <ul class="pricing">
        <li>
          <h6>Basic Package</h6>
          <div class="price">
            <sup>$</sup>0
            <span>&nbsp;</span>
          </div>
          <hr>
          <p><strong>1</strong> job posting</p>
          <p><strong>No</strong> featured job</p>
          <p><strong>5 days</strong> listing duration</p>
          <br>
          <a class="btn btn-primary btn-block" href="#">Select plan</a>
        </li>

        <li>
          <h6>Medium Package</h6>
          <div class="price">
            <sup>$</sup>5<sup>.99</sup>
            <span>per month</span>
          </div>
          <hr>
          <p><strong>5</strong> job posting</p>
          <p><strong>1</strong> featured job</p>
          <p><strong>30 days</strong> listing duration</p>
          <br>
          <a class="btn btn-primary btn-block" href="#">Select plan</a>
        </li>

        <li>
          <h6>Big Package</h6>
          <div class="price">
            <sup>$</sup>15<sup>.99</sup>
            <span>per month</span>
          </div>
          <hr>
          <p><strong>20</strong> job posting</p>
          <p><strong>5</strong> featured job</p>
          <p><strong>75 days</strong> listing duration</p>
          <br>
          <a class="btn btn-primary btn-block" href="#">Select plan</a>
        </li>
      </ul>

    </div>
  </section>
  <!-- END Three types -->


  <!-- Four types -->
  <section class="bg-alt">
    <div class="container">
      <header class="section-header">
        <span>Plans</span>
        <h2>Four types</h2>
      </header>


      <ul class="pricing cols-4">
        <li>
          <h6>Basic Package</h6>
          <div class="price">
            <sup>$</sup>0
            <span>&nbsp;</span>
          </div>
          <hr>
          <p><strong>1</strong> job posting</p>
          <p><strong>No</strong> featured job</p>
          <p><strong>5 days</strong> listing duration</p>
          <br>
          <a class="btn btn-primary btn-block" href="#">Select plan</a>
        </li>

        <li>
          <h6>Medium Package</h6>
          <div class="price">
            <sup>$</sup>5<sup>.99</sup>
            <span>per month</span>
          </div>
          <hr>
          <p><strong>5</strong> job posting</p>
          <p><strong>1</strong> featured job</p>
          <p><strong>30 days</strong> listing duration</p>
          <br>
          <a class="btn btn-primary btn-block" href="#">Select plan</a>
        </li>

        <li>
          <h6>Big Package</h6>
          <div class="price">
            <sup>$</sup>15<sup>.99</sup>
            <span>per month</span>
          </div>
          <hr>
          <p><strong>20</strong> job posting</p>
          <p><strong>5</strong> featured job</p>
          <p><strong>75 days</strong> listing duration</p>
          <br>
          <a class="btn btn-primary btn-block" href="#">Select plan</a>
        </li>

        <li>
          <h6>Mega Package</h6>
          <div class="price">
            <sup>$</sup>24<sup>.99</sup>
            <span>per month</span>
          </div>
          <hr>
          <p><strong>80</strong> job posting</p>
          <p><strong>10</strong> featured job</p>
          <p><strong>120 days</strong> listing duration</p>
          <br>
          <a class="btn btn-primary btn-block" href="#">Select plan</a>
        </li>
      </ul>

    </div>
  </section>
  <!-- END Four types -->


</main>
<!-- END Main container -->
