<div class= "nested-fields">
  <div class= "bootstrap-tagsinput">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_field :tag_name, placeholder: "Tag name" %>
  </div>
</div>
