<!-- Site footer -->
<footer class="site-footer">

  <!-- Top section -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Thông tin</h6>
        <p class="text-justify">Website giúp người tìm việc có thể tìm công việc phù hợp với mình, nhà tuyển dụng có thể nhanh chóng tìm được những ứng viên tiềm năng</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Công ty</h6>
        <ul class="footer-links">
          <li><%= link_to "Về chúng tôi", about_path %></li>
          <li><%= link_to "Trợ giúp", help_path %></li>
          <li><%= link_to "Liên lạc", contact_path %></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Công việc thịnh hành</h6>
        <ul class="footer-links">
          <li><a href="#">Front-end developer</a></li>
          <li><a href="#">Android developer</a></li>
        </ul>
      </div>
    </div>

    <hr>
  </div>
  <!-- END Top section -->

  <!-- Bottom section -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/nguyenvd27"><i class="fa fa-facebook"></i></a></li>
          <li><a class="instagram" href="https://www.instagram.com/nguyenvd27/"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END Bottom section -->

</footer>
<!-- END Site footer -->
